<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>UNIDAD DE MEDIDA</h3>
    </div>

    <div class="card-body">
      <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">CODIGO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">TIPO CODIGO UNIDAD MEDIDA</th>
                <th scope="col">ACRONIMO</th>
                <th scope="col">ACTIVO</th>
                <th scope="col">NIT COMPAÑIA</th>
                <th scope="col">TIPO UNIDAD DE MEDIDA</th>
           
              </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of unitMeasure' class="text-center"> 
                    <td>{{item.id}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.codeUnitMeasureType}}</td>
                    <td>{{item.acronyms}}</td>
                    <td>{{item.active}}</td>
                    <td>{{item.companyNit}}</td>
                    <td>{{item.unitMeasureType}}</td>
                    <td>
                      <button (click)="Delete(item)" class="btn btn-danger">Delete</button></td>
                  <td></td>
                </tr>
        </table>
    </div>
</div>
