<div class="container">
    <div class="card">
       <div class="card-header">
            <h3>Adicionar Personas</h3>
       </div>
       <div class="card-body">
        <form novalidate #f="ngForm" novalidate >
          <div class="form-group">
            <label for="">id:</label>
            <input type="text" id="id" name ="id" class="form-control" [(ngModel)]=id required>
           </div>
        
        <div class="form-group">
          <label for="">Codigo:</label>
          <input type="text" id="code" name ="code" class="form-control" [(ngModel)]=code required>
         </div>
        
        <div class="form-group">
         <label for="">Nombre:</label>
         <input type="text" id="name"  name ="name" class="form-control"
       
         [(ngModel)]=name required>
       </div>

        <div class="form-group">
            <label for="">Codigo Typo Unidad de Medida:</label>
            <input type="text" id="codeUnitMeasureType" name ="codeUnitMeasureType" class="form-control" [(ngModel)]=codeUnitMeasureType required>
        </div> 

        <div class="form-group">
            <label for="">Acronyms:</label>
            <input type="text" id="acronyms" name ="acronyms" class="form-control" [(ngModel)]=acronyms required>
           </div>

       
           <div class="form-group">
           <label for="">Activo:</label>
           <td> <input type="checkbox" id="active"  name="active" value="false" [(ngModel)]=active> </td>
          </div>

           <div class="form-group">
            <label for="">CompanyNit:</label>
            <input type="text" id="companyNit" name ="companyNit" class="form-control" [(ngModel)]=companyNit required>
           </div>

           <div class="form-group">
            <label for="">Tipo Unidad de Medida:</label>
          
            <select  id="unitMeasureType" name ="unitMeasureType" class="form-control" [(ngModel)]=unitMeasureType required>
                <option>
                  XA
                </option>
                <option>
                  TX
                </option>
             </select>
           </div>
        
         
           <section>
          
            <div class="example-button-row">
             
              <button (click)="Guardar()" mat-raised-button color="primary">Guardar</button>
              
            </div>
          </section>

       
    </form>
    </div>     
    </div>
    </div>

